version: "3.9"
services:
  # "pod" with the tests
  bddtests:
    image: quay.io/redhat-services-prod/obsint-processing-tenant/insights-behavioral-spec/insights-behavioral-spec:latest
    entrypoint:
      - /bin/sh
      - -c
      - "sleep infinity"
  database:
    ports:
      - 25432:5432
    image: postgres:13.9
    environment:
      - POSTGRES_USER=postgres
      - PGUSER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=${POSTGRES_DB_NAME:-test}
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 2s
      timeout: 2s
      retries: 4
      start_period: 2s

  kafka:
    profiles:
      - test-notification-services
      - test-aggregator
      - test-sha-extractor
      - test-dvo-extractor
      - test-dvo-writer
      - test-parquet-factory
    image: quay.io/ccxdev/kafka-no-zk:latest
    ports:
      - 9092:9092
    environment:
      - KAFKA_ADVERTISED_HOST_NAME=kafka
      - KAFKA_CREATE_TOPICS="platform.notifications.ingress:1:1"

  minio:
    profiles:
      - test-exporter
      - test-sha-extractor
      - test-dvo-extractor
      - test-parquet-factory
    image: minio/minio
    command:
      - server
      - /data
    ports:
      - 9000:9000
    environment:
      - MINIO_ACCESS_KEY=test_access_key
      - MINIO_SECRET_KEY=test_secret_access_key
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9000/minio/health/live"]
      interval: 2s
      timeout: 2s
      retries: 4
      start_period: 2s

  createbuckets:
    profiles:
      - test-exporter
      - test-sha-extractor
      - test-dvo-extractor
      - test-parquet-factory
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -c
      - |
        # OPRAVENÉ: Pridaný 'set -e' a zmenený príkaz na 'mc alias set'
        set -e
        /usr/bin/mc alias set myminio http://minio:9000 test_access_key test_secret_access_key
        /usr/bin/mc mb myminio/test

  pushgateway:
    profiles:
      - no-mock
      - test-notification-services
      - test-parquet-factory
    image: quay.io/prometheus/pushgateway:latest
    ports:
      - 9091:9091
    command:
      - --web.enable-admin-api
  initializenotificationdb:
    profiles:
      - test-notification-services
    image: quay.io/cloudservices/ccx-notification-writer:latest
    depends_on:
      database:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -c
      - 'export CCX_NOTIFICATION_WRITER__STORAGE__DB_DRIVER=postgres CCX_NOTIFICATION_WRITER__STORAGE__PG_PARAMS="sslmode=disable" CCX_NOTIFICATION_WRITER__STORAGE__PG_USERNAME=postgres CCX_NOTIFICATION_WRITER__STORAGE__PG_PASSWORD=postgres CCX_NOTIFICATION_WRITER__STORAGE__PG_HOST=database CCX_NOTIFICATION_WRITER__STORAGE__PG_PORT=5432 CCX_NOTIFICATION_WRITER__STORAGE__PG_DB_NAME=notification && ./ccx-notification-writer --db-init-migration && ./ccx-notification-writer --db-init && ./ccx-notification-writer --migrate latest'

  content-service:
    profiles:
      - no-mock
    image: quay.io/cloudservices/ccx-insights-content-service
    ports:
      - 8082:8082
    environment:
      - INSIGHTS_CONTENT_SERVICE__SERVER__ADDRESS=:8082
      - INSIGHTS_CONTENT_SERVICE__SERVER__API_PREFIX=/api/v1/
      - INSIGHTS_CONTENT_SERVICE__SERVER__API_SPEC_FILE=/openapi/openapi.json
      - INSIGHTS_CONTENT_SERVICE__GROUPS__PATH=/groups/groups_config.yaml

  init-service-log-db:
    profiles:
      - no-mock
    image: postgres:13.9
    volumes:
      - ./setup/:/tmp/setup-scripts
    depends_on:
      database:
        condition: service_healthy
    environment:
      - PGPASSWORD=postgres
    entrypoint:
      - /bin/sh
      - -c
      - "PGPASSWORD=postgres psql \
        --username=postgres \
        --host=database \
        --port=5432 \
        --dbname notification \
        -f /tmp/setup-scripts/ocm_service_log.sql
        "

  mock-oauth2-server:
    profiles:
      - test-upgrades-data-eng
    image: ghcr.io/navikt/mock-oauth2-server:0.5.8
    environment:
      - LOG_LEVEL=DEBUG
      - SERVER_PORT=8081
    ports:
      - 8081:8081
