PyYAML
behave
boto3
fastapi
jsonschema
kafka-python
minio
numpy
pandas
psycopg2-binary
pyarrow
pytest
python-multipart>=0.0.19
requests
semver
sentry-sdk
toml
types-PyYAML
types-jsonschema
types-psycopg2
types-requests
uvicorn[standard]
virtualenv>=20.28.0
setuptools>=70.0.0